@import "style.css";

/* lists */
h2 {
    font-size: 2rem;
}

ol {
    list-style-type: upper-roman;
}

ul,
ol,
dl,
p {
    font-size: 1.5rem;
}

li,
p {
    line-height: 1.5;
}

/* 描述列表样式 */

dd,
dt {
    line-height: 1.5;
}

dt {
    font-weight: bold;
}


/*main*/
::-webkit-scrollbar {
    display: none;
}

/*leftside guider*/
.leftside {
    position: sticky;
    top: 3rem;
    left: 0;
    width: 20%;
    max-height: 100vh;
    padding: 0.5rem;
    margin: 0.5rem;
    float: left;
    box-shadow: inset -5px 0 5px -5px #29627e;
    font-style: italic;
    color: #29627e;
    height: 100%;
    overflow-y: auto;
    transition: 0.3s;
}

aside {
    position: sticky;
    top: 3rem;
    right: 0;
    width: 20%;
    max-height: 100vh;
    padding: 0.5rem;
    margin: 0.5rem;
    float: right;
    box-shadow: inset 5px 0 5px -5px #29627e;
    font-style: italic;
    color: #29627e;
    height: 100%;
    overflow-y: auto;
    transition: 0.3s;
}

/*Image Gallery*/
.ImageGallery {
    width: 98%;
    margin: 0 auto;
}

.full-img {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
}

.full-img button {
    border: 0;
    background: rgba(150, 150, 150, 0.6);
    text-shadow: 1px 1px 1px white;
    border: 1px solid #999;
    position: absolute;
    cursor: pointer;
    top: 2px;
    left: 2px;
}

.thumb-bar img {
    display: block;
    width: 20%;
    float: left;
    cursor: pointer;
}


/* guessing number*/
.guessing-number {

    clear: left;
    width: 60%;
    min-width: 400px;
    margin: 0 auto;
}

.form input[type="number"] {
    width: 150px;
}

.lastResult {
    color: white;
    padding: 3px;
}

/*message box*/

.msgBox {
    border-radius: 0.5em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    background: #eee;
}

.msgBox p {
    line-height: 1.5;
    padding: 10px 20px;
    color: #333;
    padding-left: 82px;
    background-position: 25px center;
    background-repeat: no-repeat;

}

.msgBox button {
    background: none;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.1rem;
    color: #aaa;
}



/*content*/
article {
    height: 100vh;
    overflow-y: auto;
    padding: 1em;

}

img {
    max-width: 100%;
    border-radius: 0.5em;
}

video {
    width: 100%;
    height: auto;
    border-radius: 0.5em;

}

iframe {
    width: 100%;
    height: auto;
    border-radius: 0.5em;

}


.header h1,
h2 {
    font-family: 'Faster One', cursive;
}

/* header styles */

.header h1 {
    font-size: 4rem;
    text-align: center;
}

.header p {
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
}

/* section styles */
section {
    display: flex;
}

section article {
    width: 33%;
    float: left;
    height:fit-content;
}

section p {
    margin: 5px 0;
}

section ul {
    margin-top: 0;
}

.header h2 {
    font-size: 2.5rem;
    letter-spacing: -5px;
    margin-bottom: 10px;
}


/*定义竖屏 css*/
@media screen and (orientation:portrait) and (max-device-width:600px) {

    .leftside,
    aside {
        display: none;
    }

    html {
        font-size: 12px;
    }

}