/*basic setting*/


html {
  background-image: linear-gradient(0deg, rgba(225, 58, 86, 0.292) 0%, rgba(255, 255, 255, 1)50%, rgba(85, 147, 209, 0.5) 100%);

  background-color: rgb(255, 255, 255);
  font-size: 20px;
  font-family: "fangsong";
}

/*form*/
form input[type="search"] {

  width: 10rem;
  border-radius: 0.5em;
  height: 1.5rem;

}

form input[type="submit"] {
  border-radius: 0.5em;
  height: 1.5rem;
}

form input[type="submit"]:hover,
input[type="submit"]:focus {
  background-color: #717070f1;
}

.index {
  background: rgb(181, 227, 247);
  padding: 10px;
  border-radius: 0.5em;
  margin-top: 5px;
  margin-bottom: 5px;
}

/*lists*/
ul {
  background: rgb(181, 227, 247);
  padding: 10px;
  border-radius: 0.5em;
}

li {

  margin-left: 20px;
}
/*https*/
a[href^='mailto']::before {
  content: '📧 ';
}

a[href^='tel']::before {
  content: '📞 ';
}


a:visited {
  color: #fb6542;
}

a:hover {
  color: rgba(255, 0, 4, 0.85);

}




