html {
  background-color: rgb(255, 255, 255);
  font-size: 20px;
  font-family: "fangsong";
}

ul {
  background: rgb(181, 227, 247);
  padding: 10px;
  border: 1px solid black;
}

li {
  margin-left: 20px;
}

a[href^='mailto']::before {
  content: '📧 ';
}

a[href^='tel']::before {
  content: '📞 ';
}


a:visited {
  color: #fb6542;
}

aside {
  width: 20%;
  padding-left: 0.5rem;
  margin-left: 0.5rem;
  float: right;
  box-shadow: inset 5px 0 5px -5px #29627e;
  font-style: italic;
  color: #29627e;
}


